@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--e-font), var(--k-font);
}

ul,
li,
dl,
dt,
dd,
p,
span {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --primary: #359c95;
  --ani: cubic-bezier(0.26, 1.04, 0.54, 1);
  --k-font: "Pretendard";
  --e-font: "Outfit";
  --eng-font: "Kanit";
}



.filterAll{
    margin-top:40px;
}

.filter-section{
    margin-top:40px;
}

.order_list_h2,.pagination{
    text-align: center;
    margin-top:50px;
    font-weight: bold;
    color: #343a40;
    margin-left: 300px;
    width: 80%;
}

.orderName_td{
    display: -webkit-box;              /* Flexbox-like for text */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;      /* 세로 방향으로 상자를 정렬 */
    overflow: hidden;                  /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis;           /* 말줄임표 표시 */
    height: 50px;
    height: 50px;
}

.pagination{
    font-weight:normal;
    margin-top:30px;
}

.pagination a{
    color:#303030;
}

.clicked{
    color:#000;
    font-weight:bold;
}

.order_detatil_top{
    margin-top:20px;
    color: #303030;
    text-align:center;
}

.order_detatil_top h4,.order-list-container h4{
    margin-left: 300px;
    width: 80%;
    text-align:left;
    margin-bottom:0;
}

#order_state_btn, #order_trackingNum_btn{
    margin-left:7px;
}

.button-group{
    margin-top:5px;
}

.button-group button:nth-of-type(1){
    margin-right:5px;
}


#search-keyword{
    font-family: var(--e-font), var(--k-font);
    margin-right:5px;
}

table {
    table-layout: fixed;
    width: 100%; /* 테이블의 폭을 100%로 고정 */
}

td, th {
    text-align: center;
    vertical-align: middle !important;
    word-wrap: break-word; /* 텍스트 줄바꿈 */
    height: 100%;
}

.sales_top{
    margin-left: 500px;
    width: 80%;
    display:flex;
}

.sales_date_search{
    display:flex;
    padding:20px 0;
    width:40%;
}

.sales_dataChart{
    display:flex;
    padding: 20px 0;
    width: 35%;
}

.menu_name{
    background-color: #e9ecef;
    font-weight: bold;
    padding: 15px;
    border: 1px solid #dee2e6;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu_date{
    padding: 15px;
    border: 1px solid #dee2e6;
    width:80%;
}

.menu_date input{
    padding: 5px;
    width: 40%;
}

.order-sales{
    width: 60%;
    border-collapse: collapse;
    margin-left: 500px;
    margin-right: 300px;
}

.order-sales th{
    background-color: #e9ecef;
    font-weight: bold;
}

.menu_date button{
    width: 15%;
    margin-left: 3px;
    padding: 9px 0;
}

.menu_chart{
    padding: 15px;
    border: 1px solid #dee2e6;
    width:75%;
    text-align:center;
}

.menu_name_chart{
    width:25%;
}

.menu_chart button{
    margin-right:8px;
    padding: 10px;
    width: 40%;
}

.sales_modal_body, .chart_modal_body {
  position: fixed;
  inset: 0px;
  z-index: 20;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.sales_modal_body > div:nth-of-type(1),.chart_modal_body > div:nth-of-type(1) {
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 0.7);
  height: calc(100% + 0vh);
  width: 100vw;
  z-index: -1;
}

.sales_modal_container,.chart_modal_container {
  opacity: 1;
  transform: translate3d(0px, 0vh, 0px);
  height: calc(100% + 0vh);
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.sales_modal_container_flex,.chart_modal_container_flex {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 78rem;
  height: auto;
  max-height: calc(-2rem + 100vh);
  border-radius: 0.5rem;
  overflow: hidden;
  color: #303030;
  background: #fff;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.5);
  z-index:2000;
}

.sales_modal_container_flex > div:nth-of-type(1),.chart_modal_container_flex > div:nth-of-type(1) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 3rem 0.625rem;
}

.chart_modal_container_flex > div:nth-of-type(1){
    margin-bottom: 10px;
}

.sales_modal_container_flex > div:nth-of-type(1) > span,.chart_modal_container_flex > div:nth-of-type(1) > span {
  font-weight: 700;
  font-size: 1.5rem;
}

.sales_modal_container_flex > div:nth-of-type(1) > i,.chart_modal_container_flex > div:nth-of-type(1) > i {
  cursor: pointer;
  font-size: 1.5em;
  color: #303030;
}

.sales-day-info-modal,.chart-day-info-modal {
  height: 100%;
  overflow-y: auto;
  padding: 0 3em;
}

.chart-day-info-modal{
    display: flex;
    margin-bottom: 30px;
}

.th-color th{
    background-color: #e9ecef;
    font-weight: bold;
}

.sales_pagination{
    margin:0 0 30px 0;
    width:100%;
}

.chart-day-info-modal div {
  width: 47.5%;
}

.chart-day-info-modal div:nth-of-type(1) {
  margin-right: 5%;
}

.chart-day-info-modal div p {
  border: 1px solid #e4e4e4;
  padding: 10px;
  display: inline-block;
  border-radius: 2em;
  font-size: 1em;
}