body {
    margin: 80px 0 0 0;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

.cm_tab {
    position: relative;
    background-color:#F4F2EF;
    display: flex;
    justify-content: center;
    align-items:center;

    width:100%;
    height:255px;
    background-image: url('https://lwi.nexon.com/kartdrift/gow/renewal/common/bg_sub.png');
    background-size: cover;
    padding: 10px 0;
}

.cm_tab h1{
    font-weight:700;
    font-size:2.813rem;
    line-height:4.063rem;
    color:#fff;
    flex:none;
    margin-right:60px;
}

.cm_tab .list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cm_tab .list li {
    float: left;
    margin: 0 15px;
}

.cm_tab .list li a{
    display:block;
    align-items:center;
    color:#A4A4A4;;
    font-size:18px;
}

.cm_tab .list li a:hover,
.cm_tab .list li.selected a {
    color: #FFE600;
    border-bottom: 2px solid #FFE600;
}


.cummunity{
    border-bottom: 3px solid black;
}

.search-area{
    position:relative;
    z-index:1;
    padding:30px 30px 0;
}

.select-box,
.head-box,
.filter-box {
    margin-right: 15px; /* 요소 간 간격 추가 */
}

select {
    padding: 8px;
    border: 1px solid #dde1e5;
    background-color: #fff;
    font-size: 14px;
    height: 42px;
    cursor: pointer; /* 커서 포인터로 변경 */
}

.select-box{

    float:left;
    width:446px;
    margin-right:10px;
}


li{
    list-style:none;
}


.head-box{
    position :absolute;
    left :30px;
    top:30px;
    float:left;
    width:135px;
    height: 42px;

}

.filter-box{
    position:absolute;
    left:175px;
    top : 30px;
    width : 135px;
    color: #737881;
}


.search {
    display: flex;
    justify-content: flex-end;
}

.search input {
    padding: 0 12px;
    font-size: 13px;
    line-height: 16.8px;
    letter-spacing: -.65px;
    color: #737881;
    border: 1px solid #dde1e5;
    background-color: #fff;
    width: 230px;
    height: 42px;
}

.row{
    border-bottom: 1px solid #ddd;
    margin:10px 0px 10px 0px;
    padding: 10px 0px;

}
.pagination{
   margin:40px 0px;
}

.content {
    display: none; /* 기본적으로 숨김 */
}

.active {
    display: block; /* 활성화된 탭의 콘텐츠만 보임 */
}