body {
    margin: 130px 0 0 0;
    background-color: #F4F2EF;
    animation: none;
}

.top_info{
    position: relative;
    width: 100%;
    height: 255px;
    background:url(https://lwi.nexon.com/kartdrift/gow/renewal/common/bg_sub.png) center top no-repeat;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.cm_tab {
    position: relative;
    max-width:1200px;
    width:100%;
    height:100%px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}


.cm_tab h1{
    font-weight:700;
    font-size:2.813rem;
    line-height:4.063rem;
    color:#fff;
    flex:none;
    margin-left:60px;
}

.cm_opt{
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.cm_tab .list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cm_tab .list li {
    float: left;
    margin: 0 15px;
}

.cm_tab .list li a{
    display:block;
    align-items:center;
    color:#A4A4A4;
    font-size:16.5px;
}

.cm_tab .list li a:hover,
.cm_tab .list li.selected a {
    color: #FFE600;
    border-bottom: 2px solid #FFE600;
    border-radius: 0;
}


.container{
    max-width: 1200px;
    height:auto;
    justify-content: center;
    border: 1px solid #ddd; /* 얇은 회색 보더 */
    padding: 20px; /* 내부 여백 */
    margin-bottom : 50px;
}

.viewInfo{
    margin:10px 0px 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;

}

.row{
    display:flex;
    align-items: center;
    margin:5px 0px 5px 0px;
}

.custom-style {
    color: #737881;
    font-size: 14px;
}

.row img{
    width: 16px;
    height: 16px;
    margin-right:5px;
    align-items: center;
    color: #737881;

}

.bg-highlight {
    background-color:#FAFAFA;
    color: #737881;
    font-size:14px;
}

.bg-highlight img{
    font-size:16px;
}


.cmContent {
    height:20%;
    font-family: "맑은 고딕";
    font-size: 12pt;
    text-align: left;
    line-height: normal;
    margin: 0 20px;

}



.reply_input{
    width:100%;
    display: flex;
    align-items: stretch; /* 높이를 맞추기 */
    margin: 0 20px;
}

.reply_input input{
    font-size: 13px;
    color: #333;
    border: 1px solid #dde1e5;
    background-color: #fff;
    width: 87%;
    min-height: 90px;
    background-color:#FAFAFA;
}

.reply_input textarea {
    font-size: 13px;
    color: #333;
    border: 1px solid #dde1e5;
    background-color: #FAFAFA;
    width: 90%;
    min-height: 90px;
    padding: 8px;
    margin-bottom: 10px; /* 여백 추가 */
}

.reply_input button{
    margin-left:0;
    font-size: 13px;
    color: #737881;
    border: 1px solid #dde1e5;
    background-color:#FAFAFA;
    width: 100px;
    height: 90px;
}


/* 날짜와 답글쓰기, 수정, 삭제의 공통 스타일 */
/* 댓글의 정렬을 위해 comment-header에 flex 스타일 적용 */
.comment-header {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}

/* 내용 부분 스타일 */
.comment-content {
    margin: 10px 0;
}

/* 날짜와 답글쓰기, 수정, 삭제의 공통 스타일 */
.comment-meta,
.reply-btn,
.edit-btn,
.delete-btn {
    font-size: 13px;
    line-height: 18px;
    color: var(--skinText979797);
    cursor: pointer;
    margin-right: 10px; /* 요소 간 여백 추가 */
}

.comment-user {
    margin-right: 5px; /* 아이디와 아이콘 사이의 간격 추가 */
}

.comment-meta-wrapper {
    display: flex;
    align-items: center; /* 날짜와 버튼들을 같은 줄에 배치 */
    justify-content: space-between; /* 버튼들을 오른쪽 정렬 */
}

/* 하단 버튼들 정렬을 위해 별도의 wrapper를 사용 */
.comment-actions {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    gap: 10px; /* 버튼 사이의 간격 */
    margin-top: 5px;
}

/* 댓글 요소 스타일 */
.comment-item {
    border-bottom: 1px solid #ddd; /* 아래쪽 실선 추가 */
    padding-bottom: 10px; /* 실선과 내용 간의 여백 */
    margin-bottom: 10px; /* 다음 댓글과의 간격 */
}

.comment-item:last-child {
    border-bottom: none; /* 마지막 댓글의 보더바텀 제거 */
}






/*이전페이지, 다음페이지*/
.list_section {
    margin: 60px auto 100px auto; /* 자동 여백으로 가운데 정렬 */
    max-width: 1200px; /* 최대 너비 1200px 설정 */
    align-items: center;
}

.list_section a{
    color:#8E8081;
    text-decoration: none;
}

.list_section a:hover{
    color:black;
}

.list_pre,
.list_next {
    border-collapse: separate;
    padding: 20px;/*수정*/
    font-size:17px;
    cursor: pointer;
}

.list_pre{
border-bottom: 1px solid #dde1e5;
}

.list_pre i,
.list_next i {
    font-size: 1em;
    margin-right: 50px;
    color:#8E8081;
}


/*상세페이지에서 목록이동 버튼 (작성자일 경우 + 수정 삭제)*/
.listBt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    padding:0 20px;
}

.listBt a{
    display: inline-block;
    width: 146px;
    height: 52px;
    padding-top: 15px;
    color: #9fa1a7;
    border: 2px solid #9fa1a7;
    text-decoration: none;
    background-color: #F4F2EF;
    border-radius:0;
    margin-right: 10px;
}

/* 마지막 버튼의 오른쪽 마진 제거 */
.listBt a:last-child {
    margin-right: 0;
}




@media all and (max-width:680px) {
    html{
        font-size: 80%
    }

    .top_info{
     height: 27px;
     background: #0C0C0C !important;
     padding: 0 10px;
    }

    .cm_tab h1{
        display: none;
    }

    .cm_tab .list .btn{
        font-size:12px;
        line-height:27px;
        font-weight: 400;
        white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    }

    .cm_tab .list li a:hover,
    .cm_tab .list li.selected a {
         color: #FFF;
         border-top: 2px solid #FFC700;
         border-bottom: 0;
         line-height: 24px;
         font-weight: 700;
    }

    .header {
        display: none; /* 작은 화면에서는 헤더 숨기기 */
    }

.comment-header {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: space-between; /* 사용자 ID는 왼쪽, 신고 아이콘은 오른쪽 */
}

.comment-user {
    margin: 0; /* 기본 p 태그의 여백 제거 */
}

.report-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.report-icon img {
    width: 20px; /* 아이콘 크기 설정 */
    height: 20px;
}


}



