body {
    margin: 130px 0 0 0;
    background-color: #F4F2EF;
    animation: none;
}

.top_info{
    position: relative;
    width: 100%;
    height: 255px;
    background:url(https://lwi.nexon.com/kartdrift/gow/renewal/common/bg_sub.png) center top no-repeat;
    display: flex;
    justify-content: space-around;
}

.cm_tab {
    position: relative;
    max-width:1200px;
    width:100%;
    height:100%px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}


.cm_tab h1{
    font-weight:700;
    font-size:2.813rem;
    line-height:4.063rem;
    color:#fff;
    flex:none;
    margin-left:60px;
}

.cm_opt{
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.cm_tab .list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cm_tab .list li {
    float: left;
    margin: 0 15px;
}

.cm_tab .list li a{
    display:block;
    align-items:center;
    color:#A4A4A4;
    font-size:16.5px;
}

.cm_tab .list li a:hover,
.cm_tab .list li.selected a {
    color: #FFE600;
    border-bottom: 2px solid #FFE600;
    border-radius: 0;
}


.container {
    padding: 20px 0;
}
.write_tbl{
    margin-top:9%;
}
.cm-write th {
    margin-top:20%;
    border-top: 1.8px solid #e5e7eb;
    width: 272px;
    padding: 15px 0 15px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #222;
    line-height: 31px;
    text-align: left;
    vertical-align: top;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

.cm-write td{
    margin-top:20%;
    border-top: 1.8px solid #e5e7eb;;
    padding: 12px 0 15px 30px;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    line-height: 31px;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    width: 80%;
}

.cm-write td input {
    height: 40px;
    margin: 0;
    padding-left: 7px;
    font-family: "NanumGothic", "Nanum Gothic";
    font-size: 16px;
    color: #666;
     width: 100%;
    color: #666;
    vertical-align: top;
    padding: 0.5em 3.5em 0.5em 1em;
    border: thin solid #DBDBDB;
    line-height: 1.5em;
    margin: 0;
    position: relative;
    justify-content: right;
    -webkit-appearance: none;
}

.topics{/*정렬 자리찾기*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    outline: none;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    font-family: 'Material Symbols Outlined'
}
.filter-dropdown {
    border: thin solid #DBDBDB;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    position: relative;
    justify-content: right;
    -webkit-appearance: none;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}
.write_btn{
    display: inline-block;
    width: 220px;
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    background-color: black;
    border-radius: 4px;
}

@media all and (max-width:680px) {
    html{
        font-size: 80%
    }

    .top_info{
     height: 27px;
     background: #0C0C0C !important;
     padding: 0 10px;
    }

    .cm_tab h1{
        display: none;
    }

    .cm_tab .list .btn{
        font-size:12px;
        line-height:27px;
        font-weight: 400;
        white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    }

    .cm_tab .list li a:hover,
    .cm_tab .list li.selected a {
         color: #FFF;
         border-top: 2px solid #FFC700;
         border-bottom: 0;
         line-height: 24px;
         font-weight: 700;
    }

    .header {
        display: none; /* 작은 화면에서는 헤더 숨기기 */
    }


}
