@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:var(--e-font),var(--k-font);
  }
  body {
    background: #000;
  }
  ul,
  li,
  dl,
  dt,
  dd,
  p,
  span {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  *,
  :after,
  :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

:root {
    --primary: #359c95;
    --ani: cubic-bezier(0.26, 1.04, 0.54, 1);
    --k-font:'Pretendard';
    --e-font:'Outfit';
}

  /* Mainslide */
  #mainVisual {
    position: relative;
  }
  #mainVisual:after {
    position: absolute;
    bottom: -35px;
    width: 100%;
    height: 60px;
    background: #000;
    content: "";
    z-index: 1;
    filter: blur(15px);
  }

  #mainVisual .main_slide {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  #mainVisual .swiper-wrapper {
    height: 100%;
  }
  #mainVisual .swiper-slide.bg01 {
    position: relative;
    background: url("/img/main_img/img1.png") no-repeat center / cover;
  }
  #mainVisual .swiper-slide.bg02 {
    position: relative;
    background: url("/img/main_img/img2.png") no-repeat center / cover;
  }
  #mainVisual .swiper-slide.bg03 {
    position: relative;
    background: url("/img/main_img/img3.png") no-repeat center / cover;
  }

  #mainVisual .main_txt {
    position: absolute;
    top: 26vh;
    z-index: 101;
    width: 100%;
    text-align: center;
    line-height: 1.25;
    color: #fff;
  }
  #mainVisual .main_txt span {
    font-size: 20px;
    font-weight: 500;
  }
  #mainVisual .main_txt p {
    margin: 20px 0 40px;
    font-size: 72px;
    font-weight: 200;
    font-family: var(--e-font);
  }

  /* Pager */
  #mainVisual .pager {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  #mainVisual .pager button {
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    background: transparent;
    transition: 0.2s;
  }
  #mainVisual .pager button:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    content: "";
    transition: all 0.2s;
  }
  #mainVisual .pager button.on:after {
    opacity: 0;
  }
  #mainVisual .pager .progress {
    transform: rotate(-90deg);
  }
  #mainVisual .pager .circle-origin {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 0.2s;
  }
  #mainVisual .pager button.on .circle-origin {
    animation: progress 4.5s ease;
  }
  @keyframes progress {
    from {
      stroke-dashoffset: -38;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  /* 반응형 [s] */
  @media (max-width: 1024px) {
    #mainVisual:after {
      bottom: 0px;
      height: 35px;
    }
    #mainVisual .main_slide {
      height: 590px;
    }
    #mainVisual .main_txt {
      top: 110px;
    }
    #mainVisual .main_txt span {
      font-size: 18px;
    }
    #mainVisual .main_txt p {
      margin: 12px 0 28px;
      font-size: 48px;
    }
  }
  @media (max-width: 768px) {
    #mainVisual .main_slide {
      height: 480px;
    }
    #mainVisual .main_txt {
      top: 80px;
    }
    #mainVisual .main_txt span {
      font-size: 16px;
    }
    #mainVisual .main_txt p {
      margin: 10px 0 24px;
      font-size: 34px;
    }
    #mainVisual .pager {
      gap: 12px;
    }
  }
  @media (max-width: 480px) {
    #mainVisual .main_slide {
      height: 365px;
    }
    #mainVisual .main_txt {
      top: 60px;
    }
    #mainVisual .main_txt span {
      font-size: 14px;
    }
    #mainVisual .main_txt p {
      margin: 8px 0 20px;
      font-size: 26px;
    }
    #mainVisual .pager {
      gap: 10px;
    }
  }
  @media (max-width: 380px) {
    #mainVisual .main_slide {
      height: 345px;
    }
    #mainVisual .main_txt {
      top: 50px;
    }
    #mainVisual .main_txt span {
      font-size: 13px;
    }
    #mainVisual .main_txt p {
      margin: 6px 0 16px;
      font-size: 23px;
    }
  }
  /* 반응형 [e] */

  /* scroll dowm */
  #mainVisual .scroll {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    font-family: var(--e-font);
  }
  #mainVisual .scroll .bar {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 130px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  }
  #mainVisual .scroll .bar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 18px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    animation: scroll 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  @keyframes scroll {
    0% {
      top: 0;
      opacity: 1;
    }
    70% {
      top: 100%;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 0;
    }
  }

  /* 반응형 [s] */
  @media (max-width: 1024px) {
    #mainVisual:after {
      bottom: 0px;
      height: 35px;
    }
    #mainVisual .main_slide {
      height: 590px;
    }
    #mainVisual .main_txt {
      top: 110px;
    }
    #mainVisual .main_txt span {
      font-size: 18px;
    }
    #mainVisual .main_txt p {
      margin: 12px 0 28px;
      font-size: 48px;
    }
  }
  @media (max-width: 768px) {
    #mainVisual .main_slide {
      height: 480px;
    }
    #mainVisual .main_txt {
      top: 80px;
    }
    #mainVisual .main_txt span {
      font-size: 16px;
    }
    #mainVisual .main_txt p {
      margin: 10px 0 24px;
      font-size: 34px;
    }
    #mainVisual .pager {
      gap: 12px;
    }
  }
  @media (max-width: 480px) {
    #mainVisual .main_slide {
      height: 365px;
    }
    #mainVisual .main_txt {
      top: 60px;
    }
    #mainVisual .main_txt span {
      font-size: 14px;
    }
    #mainVisual .main_txt p {
      margin: 8px 0 20px;
      font-size: 26px;
    }
    #mainVisual .pager {
      gap: 10px;
    }
  }
  @media (max-width: 380px) {
    #mainVisual .main_slide {
      height: 345px;
    }
    #mainVisual .main_txt {
      top: 50px;
    }
    #mainVisual .main_txt span {
      font-size: 13px;
    }
    #mainVisual .main_txt p {
      margin: 6px 0 16px;
      font-size: 23px;
    }
  }
  /* 반응형 [e] */

  /* 추천 애니 */
.mainContent1{
    height:auto;
}

  .inc01 {
  display: flex;
  position: relative;
  margin: 200px auto 0;
  width: 1500px;
}

/* Title */
.inc01 .tit {
  position: absolute;
}
.inc01 .tit p {
  font-size: 55px;
  font-weight: 700;
  line-height: 75px;
  color: rgb(255, 255, 255, 0.2);
}
.inc01 .tit p span {
  color: var(--primary);
}
.inc01 .tit div {
  margin: 60px 0;
  font-size: 18px;
}
.inc01 .tit .more_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 14px;
  width: 155px;
  height: 48px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 24px;
  font-size: 13px;
  font-weight: 700;
  color: rgb(255, 255, 255, 0.3);
  transition: all 0.3s;
}
.inc01 .tit .more_btn:after {
  position: absolute;
  top: 50%;
  left: calc(100% - 25px);
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  transition: all 0.3s;
}
.inc01 .tit .more_btn:hover {
  padding: 0 0 0 14px;
  border-color: var(--primary);
  color: #fff;
  background: var(--primary);
}
.inc01 .tit .more_btn:hover:after {
  left: 20px;
}

.recommend_ani {
  width: 950px;
  margin-left: auto;
  margin-top: 15px;
}

.grid_imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-family: "pretendard";
}
.grid_imgs li {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.grid_imgs li a {
  display: block;
  height: 100%;
}
.grid_imgs li .thum {
  width: 100%;
  transition: all 0.6s;
}
.grid_imgs li .mask {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(1, 1, 1);
  background: linear-gradient(0deg, rgba(1, 1, 1, 1) 0%, rgba(0, 0, 0, 0) 80%);
  transition: all 0.25s;
}
.grid_imgs li .txt {
  opacity: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0 0 15% 12%;
  flex-flow: column;
  font-weight: 500;
  color: #fff;
  transition: 0.6s;
}
.grid_imgs li .txt p {
  padding-right: 35%;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.35;
  word-break: keep-all;
}
.grid_imgs li .txt span {
  overflow: hidden;
  position: relative;
  width: max-content;
  padding-right: 28px;
  font-size: 14px;
}
.grid_imgs li .txt span i {
  position: absolute;
  right: 0;
  top: 4px;
  transition: all 0.2s;
}
.grid_imgs li .txt span i.on {
  right: 20px;
  opacity: 0;
}

@media (hover: hover) {
  .grid_imgs li:hover .thum {
    transform: scale(1.1);
  }
  .grid_imgs li:hover .mask {
    opacity: 0.8;
  }
  .grid_imgs li a:hover .txt {
    opacity: 1;
  }
  .grid_imgs li a:hover i.off {
    right: -20px;
    opacity: 0;
  }
  .grid_imgs li a:hover i.on {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 850px) {
  .grid_imgs li .mask {
    opacity: 0.8;
  }
  .grid_imgs li .txt {
    opacity: 1;
    padding: 0 0 40px 30px;
  }
  .grid_imgs li .txt p {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.4;
  }
  .grid_imgs li .txt span {
    display: none;
  }
}
@media (max-width: 768px) {
  .grid_imgs {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .grid_imgs li .txt {
    padding: 0 0 20px 20px;
  }
  .grid_imgs li .txt p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .grid_imgs li .txt {
    padding: 0 0 20px 15px;
  }
  .grid_imgs li .txt p {
    padding-right: 20%;
    font-size: 14px;
  }
}