@charset "UTF-8";

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{--k-font:'Pretendard';--e-font:'Outfit'}

body{font-family:var(--e-font),var(--k-font);}

body, header, nav{
	margin: 0;
  	padding: 0;
}

#hd{
	position: fixed;
    z-index: 15;
    width: 100%;
    min-width: 1360px;
}

#main_header {
  	display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 130px;
    padding: 0 70px;
    transition: all .2s;
    background: linear-gradient( 180deg,  rgba(0, 0, 0, .5) ,  rgba(255, 255, 255, 0));
}

ul{
	margin: 0;
    padding: 0;
    list-style: none;
}
a{
	text-decoration: none;
}

#main_header .sh_logo{
	position:relative;
	z-index:20;
	}

.sh_login{
	display: flex;
	/*margin-left: auto;*/
}

.sh_logo img{
	width: 160px;
	height: 35px;
}

#main_header .sh_nav{
    display : flex;
	margin-left : 20px;
	margin-top: 8px;
	}
#main_header .sh_nav > ul > li{
	float:left;
	position:relative;
	line-height:100px;
	transition:all .4s ease-in-out
	}
#main_header .sh_nav > ul > li > a{
	position:relative;
	z-index:20;
	display:block;
	padding:0 20px;
	font-size:20px;
	font-weight:600;
	color:#fff;
	transition:all .2s
	}
#main_header .sh_nav > ul > li:hover .sh_lnb_s:before{
	width:calc(100% + 40px);
	opacity:1
	}

.search-button{
    display:flex;
    float:left;
    position:relative;
    top:11px;
    margin-right:10px;
}

.active{
  background: none !important;
  background-color: black !important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  transition-duration: 0.5s;
  transition-timing-function: ease;

  -webkit-transition-duration:0.4s;
  -webkit-transition-timing-function:ease;
}

#login_btn{
	padding: 8px 13px;
    font-size: 19px;
    border-radius: 7px;
    background-color: unset;
    color: #fff;
    border : 0;
    font-weight:600;
}

.fa-magnifying-glass{
   font-size: 1.4em;
    color:#fff;
 }

 .sh_search_login{
    display:flex;
    margin-left:auto;
    margin-top: 8px;
 }
