.mastermain {
    display: flex;
}

nav {
    width: 200px;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    padding: 10px;
}

.manage_menu ul {
    list-style-type: none;
    padding: 0;
}

.menu-item, .submenu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.menu-item:hover, .submenu a:hover {
    background-color: #495057;
}

.submenu {
    display: none;
}

.submenu a {
    padding-left: 20px;
}
