.cancelProcess {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.cancel_step {
  counter-increment: step 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.cancel_stepOk {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  line-height: 136%;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: #303030;
}

.cancel_stepOk::before,
.cancel_stepNo::before {
  content: "STEP " counter(step);
  font-weight: 700;
  line-height: 136%;
  font-size: 20px;
}

@media (min-width: 541px) {
  .cancel_stepOk,
  .cancel_stepNo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.cancel_stepNo {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  line-height: 136%;
  font-size: 12px;
  color: #303030;
  background-color: #f4f4f4;
}

.nextSvg {
  min-width: inherit;
  min-height: inherit;
  margin: 0px 17px;
  width: 30px !important;
  height: 30px !important;
}

/* 여기부터 다른 스타일 */
.cancel_product_container {
  padding-top: 20px;
}

.cancel_product_container > section > h2 {
  display: block;
  padding: 12px 0px;
  border-bottom: 4px solid #303030;
  font-weight: 700;
  line-height: 136%;
  font-size: 22px;
  margin: 0;
}

.cancel_product_container > section > table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.productCancel_thead {
  border-bottom: 1px solid #e4e4e4;
}

.productCancel_thead > tr,
.productCancel_tbody > tr {
  display: grid;
  grid-template-columns: 60% repeat(2, 20%);
  width: 100%;
  text-align: center;
}

.productCancel_tbody > tr {
  text-align: left;
}

.productCancel_thead > tr > th {
  padding: 16px 0px;
  display: inline-block;
  font-weight: 700;
  line-height: 140%;
  font-size: 16px;
  color: #303030;
}

.productCancel_td {
  width: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 0px;
  position: relative;
}

.cancel_product_info {
  display: grid;
  grid-template-columns: 110px 1fr;
  gap: 20px;
  width: 100%;
  position: relative;
  left: 3.2em;
}

.cancel_product_info img {
  width: 100%;
  object-fit: cover;
  vertical-align: top;
  border: 0;
  height:100%;
}

.cancel_product_info > div {
  display: flex;
  flex-direction: column;
  padding: 23px 0;
}

.order_aniTitle {
  font-size: 13px;
  font-weight: 700;
  color: rgb(48, 48, 51);
  text-decoration: underline;
  margin-bottom: 3px;
}

.cancel_product_info > div > strong,
.productCancel_td > span {
  display: inline-block;
  font-weight: 700;
  line-height: 140%;
  font-size: 16px;
  color: #303030;
  margin: 2px 0px;
}

.pro_price {
  display: inline-block;
  font-weight: 400;
  line-height: 136%;
  font-size: 12px;
  color: #474747;
  margin-top: 4px;
}

.productCancel_td:not(:first-of-type) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-left: 1px solid #e4e4e4;
}

.cancel_amount_count {
  display: inline-block;
  width: 108px;
}

.cancel_amount_count > div {
  display: flex;
}

.cancel_amount_count > div button:nth-of-type(1) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 25px;
  width: 36px;
  min-width: initial;
  height: 36px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(160, 160, 160);
  background: rgb(255, 255, 255);
  border-width: 1px 0px 1px 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(228, 228, 228);
  border-bottom-color: rgb(228, 228, 228);
  border-left-color: rgb(228, 228, 228);
  border-image: initial;
  border-radius: 0px;
  border-right-style: initial;
  border-right-color: initial;
}

.cancel_amount_input {
  display: block;
  color: rgb(26, 26, 26);
  outline: none;
  width: 37px;
  height: 36px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border: 1px solid rgb(228, 228, 228);
}

.cancel_amount_count > div button:nth-of-type(2) {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 25px;
  width: 36px;
  min-width: initial;
  height: 36px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(160, 160, 160);
  background: rgb(255, 255, 255);
  border-width: 1px 1px 1px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: rgb(228, 228, 228);
  border-right-color: rgb(228, 228, 228);
  border-bottom-color: rgb(228, 228, 228);
  border-image: initial;
  border-radius: 0px;
  border-left-style: initial;
  border-left-color: initial;
}

.cancel_note {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.cancel_note span {
  display: inline-block;
  font-weight: 700;
  line-height: 136%;
  font-size: 12px;
  color: #a0a0a0;
}

.cancel_note ul {
  display: grid;
  gap: 3px;
  margin-top: 6px;
}

.cancel_note ul li {
  display: inline-block;
  font-weight: 400;
  line-height: 136%;
  font-size: 12px;
  color: #a0a0a0;
}

.cancel_note button {
  border: 1px solid transparent;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px;
  position: relative;
  min-width: 88px;
  height: 52px;
  min-height: 52px;
  border-radius: 4px;
  padding: 0 20px;
  background-color: #303030;
  color: #fff;
  font-weight: bold;
  margin-top:20px;
}

.cancel_list_chkbx input[type="checkbox"] {
  visibility: hidden;
}

.cancel_list_chkbx input[type="checkbox"] + label {
  vertical-align: top;
  line-height: 24px !important;
  cursor: pointer;
  font-size: 16px;
  color: rgb(48, 48, 51);
  margin-left: 20px;
}

.cancel_list_chkbx input[type="checkbox"] + label::before {
  width: 24px;
  height: 24px;
  text-align: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 2px;
  transition: background-color 0.2s;
  background-size: 24px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
}

.cancel_list_chkbx input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14.5px;
  transform: rotate(45deg);
  box-sizing: content-box;
  width: 6px;
  height: 11px;
  margin-top: -8px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
  border-image: initial;
  border-width: 0px 1px 1px 0px;
}

.checkedLabel::before {
  background-color: rgb(48, 48, 51) !important;
  border: 0 !important;
}

.cancel_list_chkbx{
    height:0;
}