.point_list_ul {
  margin-bottom: 50px;
}

.point_list_li {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-top: 40px;
  padding: 0 10px 40px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.point_date {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-right: 40px;
}

.point_date span {
  display: inline-block;
  font-weight: bold;
  line-height: 140%;
  font-size: 13px;
  color: rgb(48, 48, 51);
}

.point_inform {
  flex: 1 1 0%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.point_inform_detail {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}
