body {
    margin: 80px 0 0 0;
    background-color: #F4F2EF;
}

.top_info{
    position: relative;
    width: 100%;
    height: 255px;
    background:url(https://lwi.nexon.com/kartdrift/gow/renewal/common/bg_sub.png) center top no-repeat;
    display: flex;
    justify-content: space-around;
}

.cm_tab {
    position: relative;
    max-width:1200px;
    width:100%;
    height:100%px;
    display: flex;
    align-items:center;
    justify-content:space-between;
}


.cm_tab h1{
    font-weight:700;
    font-size:2.813rem;
    line-height:4.063rem;
    color:#fff;
    flex:none;
    margin-left:60px;
}

.cm_opt{
    width:100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:center;
}

.cm_tab .list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cm_tab .list li {
    float: left;
    margin: 0 15px;
}

.cm_tab .list li a{
    display:block;
    align-items:center;
    color:#A4A4A4;
    font-size:16.5px;
}

.cm_tab .list li a:hover,
.cm_tab .list li.selected a {
    color: #FFE600;
    border-bottom: 2px solid #FFE600;
    border-radius: 0;
}


.container{
    max-width: 1200px;
    height:auto;
    margin: 0 auto;
    justify-content: center;
}

.viewInfo{
    margin:10px 0px 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;

}

.row{
    display:flex;
    align-items: center;
    margin:5px 0px 5px 0px;
}

.row img{
    width: 16px;
    height: 16px;
    margin-right:5px;
    align-items: center;
    color: #737881;

}

.bg-highlight {
    background-color:#FAFAFA;
    color: #737881;
    font-size:14px;
}

.cmContent {
    height:20%;
    font-family: "맑은 고딕";
    font-size: 12pt;
    text-align: left;
    line-height: normal;
    margin: 0 20px;

}



.reply_input{
    width:100%;
    display: flex;
    align-items: stretch; /* 높이를 맞추기 */
    margin: 0 20px;
}

.reply_input input{
    font-size: 13px;
    color: #333;
    border: 1px solid #dde1e5;
    background-color: #fff;
    width: 90%;
    min-height: 90px;
    background-color:#FAFAFA;
}

.reply_input button{
    margin-left:0;
    font-size: 13px;
    color: #737881;
    border: 1px solid #dde1e5;
    background-color:#FAFAFA;
    width: 100px;
    height: 90px;
}

.list_section {
    margin: 60px 0 100px 0;

}

.list_section a{
    color:#8E8081;
    text-decoration: none;
}

.list_section a:hover{
    color:black;
}



.list_pre,
.list_next {
    border-collapse: separate;
    padding: 20px;/*수정*/
    border-top: 1px solid #dde1e5;
    border-bottom: 1px solid #dde1e5;
    font-size:17px;
    cursor: pointer;
}



.list_pre i,
.list_next i {
    font-size: 1em;
    margin-right: 50px;
    color:#8E8081;
}

.listBt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listBt a{
    display: inline-block;
    width: 146px;
    height: 52px;
    padding-top: 15px;
    color: #9fa1a7;
    border: 2px solid #9fa1a7;
    text-decoration: none;
    background-color:#fff;
    border-radius:0;
}





