@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.reportModal_body .reportModal_container {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--e-font), var(--k-font);
}

:root {
  --primary: #359c95;
  --ani: cubic-bezier(0.26, 1.04, 0.54, 1);
  --k-font: "Pretendard";
  --e-font: "Outfit";
}

/* 모달 내부에서만 적용되는 스타일 */
.reportModal_body ul,
.reportModal_body li,
.reportModal_body dl,
.reportModal_body dt,
.reportModal_body dd,
.reportModal_body p,
.reportModal_body span {
  margin: 0;
  padding: 0;
}

.reportModal_body a {
  text-decoration: none;
}

.reportModal_body li {
  list-style: none;
}

.reportModal_body a {
  text-decoration: none;
}

.reportModal_body {
  position: fixed;
  inset: 0px;
  z-index: 2001;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  color: #666;
  font-family: var(--e-font), var(--k-font);
}

.reportModal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.reportModal_container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36em;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
  overflow: visible;
}

.reportModal_layer {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.reportModal_top {
  width: 100%;
  height: 4.5em;
  background-color: rgb(48, 48, 51);
  text-align: left;
  color: #fff;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reportModal_top p {
  padding-left: 30px;
  font-size: 1.3em;
  font-weight: bold;
}

.reportModal_top button {
  background: none;
  border: 0;
  padding-right: 25px;
}

.reportModal_top button i {
  color: #fff;
  font-size: 1.3em;
}

.reportModal_bottom {
  padding: 28px 30px;
}

.reportModal_bottom strong {
  display: block;
  font-size: 1em;
  line-height: 22px;
  color: rgb(48, 48, 51);
}

.report_info {
  margin: 14px 0 30px;
  padding: 20px 20px 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.report_info span {
  font-size: 14px;
  color: rgb(48, 48, 51);
  font-weight: bold;
}

.report_info p {
  margin-top: 13px;
  font-size: 13px;
  color: #888;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 1.5em;
  height: 6em;
}

.report_reason_ul {
  padding: 12px 0;
}

.report_reason_ul li {
  position: relative;
  display: inline-block;
  margin: 7px 0 8px 0;
  width: 32.8%;
  vertical-align: top;
}

.report_reason_ul li input {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.report_reason_ul li label {
  display: inline-block;
  padding-left: 31px;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  color: rgb(48, 48, 51);
  vertical-align: top;
}

.report_reason_ul li label::before {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  content: "";
}

.report_reason_ul li label::after {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 11px;
  height: 5px;
  border: solid #fff;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
  content: "";
}

.checkedLabel::before {
  background-color: rgb(48, 48, 51) !important;
  border: 0 !important;
}

.report_reason_text {
  position: relative;
  padding: 18px 18px 30px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
}

.report_reason_text textarea {
  width: 100%;
  height: 80px;
  border: 0;
  font-size: 13px;
  line-height: 20px;
  color: rgb(48, 48, 51);
  resize: none;
  outline: none;
  vertical-align: top;
  font-family: var(--e-font), var(--k-font);
}

.report_reason_text textarea::placeholder {
  font-family: var(--e-font), var(--k-font);
}

.report_reason_bottom {
  display: flex;
  padding-top: 10px;
  gap: 5px;
}

.report_reason_bottom p {
  position: relative;
  color: #888;
  line-height: 18px;
}

.report_btn_div {
  margin-top: 30px;
  text-align: center;
}

.report_btn_div button {
  display: inline-block;
  width: 8em;
  height: 38px;
  padding: 0 15px;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  background: #fff;
  box-shadow: -2px -2px 6px 0 hsla(0, 0%, 100%, 0.6), 3px 4px 5px 0 hsla(0, 0%, 76%, 0.2);
  color: #333;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
}

.report_btn_div button:nth-of-type(2) {
  margin-left: 4px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #333;
  box-shadow: inset -2px -2px 2px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 1px hsla(0, 0%, 100%, 0.2), -4.083px -4.083px 12.25px 0 #fff, 6.125px 6.125px 12.25px 0 rgba(174, 174, 192, 0.4);
  color: #fff;
}
