/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    max-width: 1920px;
    height: 1080px;
    overflow-x: hidden;
}

.element {
    max-width: 1500px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo a {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    margin-left: 30px;
}

.nav a {
    font-size: 18px;
    color: #333;
    padding: 10px;
}

/* Banner */

.banner {
    position: relative;
    overflow: hidden; /* 이미지가 넘치는 부분을 숨김 */
    width: 100%; /* 원하는 너비 설정 */
    max-width:1800px; /* 최대 너비 설정 */
    margin: auto; /* 가운데 정렬 */
}

.carousel-banner-images {
    max-width:1800px; /* 최대 너비 설정 */

}

.carousel-banner-images img {
    width: 100%; /* 부모 요소의 폭에 맞춤 */
    height: 800px; /* 자동으로 높이를 설정하여 비율 유지 */
    object-fit: cover; 
}


.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10; /* 버튼이 이미지 위에 보이도록 설정 */
}

.carousel-button.left {
    left: 10px; /* 왼쪽 버튼 위치 */
}

.carousel-button.right {
    right: 10px; /* 오른쪽 버튼 위치 */
}


/* Product Section */
.products, .products2 {
    margin-top: 100px;
    padding: 60px 40px;
    text-align: center;
    background-color: #fff;
}

.products h2, .products2 h2 {
    font-size: 48px;
    margin-bottom: 40px;
}   

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.product {
    width: 250px;
    height: 250px;
    background-color: #f9f9f9;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
}

.product img:hover {
    transform: scale(1.2);
    transition: transform 0.8s ease-in-out;
}

.product img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 20px;

}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}



/* Original Goods Section */
.original-goods {
    padding: 60px 40px;
    text-align: center;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

.carousel-goods-images{
    align-items: center;
    display: flex;
<<<<<<< HEAD
}
=======
>>>>>>> 877108fd39598119a7f3ea0d2bc07cd28140c042

.product-item img:hover {
    transform: scale(1.2); /* 호버 시 이미지 확대 */
}

.orginal-goods img:hover {
    transform: scale(1.2); 
}


.product-item img{
    width: 500px;
    display: flex;
    border-radius: 10px;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out; 

}

.carousel-original {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    max-width: 1800px;
    overflow: hidden; 
    position: relative;
    height: auto; 
}


.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    display: flex;
    width: 80%;
}

.carousel-images {

    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images a {
    width: 33.33%;
    text-align: center;
    color: #333;
}

.carousel-images img {
    width: 80%;
    border-radius: 8px;
}

.carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* MD news Section */
.md_pick {
    padding: 60px 40px;
    text-align: center;
    margin: 60px 0;
}

.md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md-wrapper {
    overflow: hidden;
    width: 80%;
}

.md-images {
    display: flex;
  
}

.md-images a {
    min-width: 33.33%;
    text-align: center;
    color: #333;
}

.md-images img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.md-images img:hover {
    transform: scale(1.2); 
}

.md-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

