/* 메인 상품 컨테이너 */
.product-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

/* 상품 이미지와 정보 섹션 */
.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-image-section {
    width: 40%;
}

.product-image-section .main-image {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.product-info-section {
    width: 60%;
    padding-left: 20px;
    align-items: center;
}


.product-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-price {
    font-size: 24px;
    color: #222222;
    margin-bottom: 15px;
}

.product-meta-info p {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

/* 좋아요 아이콘 */
/* 기본 하트 아이콘 (빈 하트) */

#likeIcon{
    display: inline-block;
}

#likeHeart {
    font-size: 20px;
    cursor: pointer;
}


/* 상품 선택 옵션 */
.product-selection {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.selection-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.selection-box p{
    align-items: center;
    margin-bottom: 0px;
}

.product-name {
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.product-quantity-control {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

.quantity-button {
    background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.total-price {
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}

/* 구매 버튼 스타일 */
.buy-buttons {
    align-items:center;
    width: 100%;
    gap:30px;
    display: flex;
}

.add-to-cart, .buy-now {
    width: 48%;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart {
    background-color: white;
    border: 1px solid #ccc;
}

.buy-now {
    background-color: #202020;
    color: white;
}


/* Hover 시 효과: 배경색 변화 */
.add-to-cart:hover, .buy-now:hover {
    background-color: #cacaca; /* hover 시  어두운 회색 */
}

/* Active 시 효과: 클릭 시 약간 작아지는 효과 */
.add-to-cart:active, .buy-now:active {
    background-color: #6e6e6e; /* 클릭 시 더 어두운 색 */
    transform: scale(0.95); /* 클릭 시 약간 축소 */
}

/* 구매 버튼에 그림자 효과 추가 */
.add-to-cart, .buy-now {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 기본 그림자 */
}

/* Hover 시 그림자 변화 */
.add-to-cart:hover, .buy-now:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Hover 시 더 강한 그림자 */
}

/* 상품 설명 섹션 */
.product-description-section {
    margin: 0 auto;
}


/* 상품 정보 탭 */
.product-tabs {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 10px;
}

.tab {
    width: 33%;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.tab:active {
    transform: scale(0.95); /* 클릭 시 약간 축소 */

}

/* 주의 사항 섹션 */
.caution-section {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 14px;
    color: #666;
}

/* 상품 정보 섹션 */
.product-info-details-section {
    margin-top: 20px;
}

.product-info-details-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.product-info-table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.product-info-table th, .product-info-table td {
    padding: 12px 15px;
    font-size: 14px;
    text-align: center;
}

.product-info-table th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.product-info-table td a {
    color: #007bff;
    text-decoration: none;
}

.product-info-table td a:hover {
    text-decoration: underline;
}

/* 상품 상세 설명 및 이미지 섹션 */
.product-details-section {
    align-items: center;
    margin: 40px 0;
   
}

.product-details-section h2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.product-details-wrapper {
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.product-image {
    align-items: center;
  
}

.product-image img {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
}

.product-text {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}


/* 배송/교환/반품 섹션 */
.shipping-exchange-return-section {
    margin-top: 80px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.shipping-exchange-return-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.shipping-exchange-return-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.shipping-exchange-return-section ul {
    list-style: disc;
    padding-left: 20px;
}

.shipping-exchange-return-section ul li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
}

/* 1:1 문의 버튼 스타일 */
.inquiry-button-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.inquiry-button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inquiry-button:hover {
    background-color: #8d8d8d;
}

/* 사용자 총 평점과 전체 리뷰수 정렬 */
.review-summary {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 25%;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.review-title h2{
    font-size: 2em;
}

.review-title span, .review-title p{
    color: #888;
}

/* 사용자 총 평점 */
.average-rating {
    width: 50%;
    text-align: center;
    flex-grow: 1;
}

.stars {
    color: #FFD700; /* 노란색 별 */
    font-size: 30px; /* 별 크기를 키움 */
    margin-bottom: 10px;
}

.rating-number {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.rating-number small {
    font-size: 24px;
    color: #777;
}

/* 전체 리뷰수 */
.total-reviews {
    width: 50%;
    text-align: center;
   
}

.review-count {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-right: 70px;
}

.total-reviews h3 {
    font-size: 1.3em;
    color: #777;
    margin-bottom: 10px;
    margin-right: 70px;
}

/* 리뷰 탭과 필터를 좌우로 배치 */
.review-tabs-and-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* 리뷰 탭 (텍스트 리뷰/포토 리뷰) 왼쪽 정렬 */
.review-tabs {
    font-size: 16px;
    color: #333;
}

.review-tabs span {
    margin-left: 50px;
    cursor: pointer;
    margin-right: 20px;
    color: #666;
}

.review-tabs span.active {
    font-weight: bold;
    color: #007BFF; /* 활성화된 탭은 파란색 */
}

.review-tabs span:hover {
    color: #007BFF; /* 마우스 오버 시 파란색 */
}

/* 필터 (최신순/평점 높은순/평점 낮은순) 오른쪽 정렬 */
.review-filter {
    margin-right: 100px;
    font-size: 14px;
    color: #666;
}

.review-filter span {
    cursor: pointer;
    margin-left: 15px;
    color: #333;
}

.review-filter span.active {
    margin-left: 20px;
    font-weight: bold;
    color: #007BFF; /* 선택된 필터는 파란색 */
}

.review-filter span:hover {
    color: #007BFF; /* 마우스 오버 시 파란색 */
}

/* 리뷰 리스트 */
.review-item {
    width: 95%;
    padding: 0px auto; /* 상하 여백 줄임 */
    display: flex;
    justify-content: space-between;
    border-top: 0.2px solid #999;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 30px;

}

.review-nickname{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

/* 리뷰 항목의 별점 스타일 */
.review-rating {
    color: #FFD700; /* 노란색 별 */
    font-size: 18px;
    align-items: center;
    margin-left: 10px;
    padding: 0 auto;
}
.review-info{
    align-items:center;
}


/* 리뷰 작성자 정보 */
.reviewer-name {
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;

}

.review-date {
    color: #999;
    font-size: 0.9em;
    margin-left: 15px; /* 사용자와 날짜 간격 줄임 */
}

/* 리뷰 내용 넓게 표시 */
.review-content {
    width: 80%;
    font-size: 1.1em;
    color: #333;
    padding: 50px;
    margin-bottom: 10px;
}

.review-image img {
    float: right;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}


/* 페이지 네이션 간결한 스타일 */
.pagination {
    width: 10%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 50px;

}

.pagination button {

    margin: 0 auto;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}

.pagination button.active {
    font-weight: bold;
    color: #3a3a3a;
}

.pagination button:hover {
    color: #333; /* 호버 시 진해지는 효과 */
    font-weight: bold;
}

/* 상품 더보기 기본적으로 상품 설명은 숨김 처리 */
.hidden-description {
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;

}

.hidden-description img{
    display: grid;
    margin-bottom :40px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    object-fit: cover;
}





/* 상품 설명 보기 버튼 스타일 */
.toggle-description {
    width: 650px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 -4px 8px rgba(75, 75, 75, 0.3); /* 위쪽에 그림자 추가 */
}


.sticky-right{
    display: flex;
    justify-content: space-between;
    /*gap:20px;*/
    
}

.sticky-left{
    font-size: 1em;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(48, 48, 51);

}


/* 푸터 기본적으로 숨김 처리 */
.sticky-footer {
    width: 100%;
    background: hsla(0, 0%, 100%, .7);
    backdrop-filter: blur(50px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 12px 5%;
    border-radius: 10px;
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: height 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}

.sticky-footer_div{
    width:100%
}


/* 푸터가 보여질 때 */
.sticky-footer.show {
    display: flex;
    align-items: center;
    justify-content: center;
    height:80px;
    opacity: 1;
    visibility: visible;
}

.fw-bold p{
    font-size:15px;
    font-weight:normal;
}

.sticky-right button{
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 56px;
    line-height: 56px;
    padding: 0;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
}

.sticky_basket_btn{
    background:#f5f5f5;
    box-shadow: inset -2px -2px 3px 0 rgba(174, 174, 192, .3), inset 2px 2px 2px 0 #fff;
    border: 1px solid #e1e1e1;
    color: rgb(48, 48, 51);
}
.sticky_buy_btn{
    color: #fff;
    border: 1px solid var(--fff, #fff);
    background: var(--333, #333);
}