/* General Styles */
.storeMain_container {
    /*font-family: Arial, sans-serif;*/
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    max-width: 1800px;
    /*height: 100vh;*/
    overflow-x: visible;
}


a {
    text-decoration: none;
    color: inherit;
}


 h2{
    text-align: left;  /* 텍스트를 왼쪽으로 정렬 */
    padding-left: 15px; /* 필요에 따라 여백 조정 */


}

 p{
    margin-bottom: 20px;
    text-align: left; 
    font-weight: bold;
    color:rgb(135, 138, 141);
}



/* Banner */

.banner {
    position: relative;
    overflow: visible; /* 이미지가 넘치는 부분을 숨김 */
    width: 100%; /* 원하는 너비 설정 */
    max-width:1800px; /* 최대 너비 설정 */
    margin: auto; /* 가운데 정렬 */
}

.carousel-banner-images {
    max-width:1800px; /* 최대 너비 설정 */

}

.carousel-banner-images img {
    width: 100%; /* 부모 요소의 폭에 맞춤 */
    height: 800px; /* 자동으로 높이를 설정하여 비율 유지 */
    border-radius: 10px;
    object-fit: cover; 
}


.carousel-banner-images .slick-prev, 
.carousel-banner-images.slick-next {
    font-size: 60px; /* 필요에 따라 크기 조정 */
    z-index: 100;   /* 다른 요소 위에 표시되도록 */
}

.carousel-banner-images .slick-prev::before, 
.carousel-banner-images .slick-next::before {
    color: rgb(167, 203, 245);    /* 필요에 따라 색상 조정 */
    z-index: 100;   /* 다른 요소 위에 표시되도록 */

}

.carousel-banner-images .slick-prev {
    left: -30px; /* 필요에 따라 위치 조정 */
    z-index: 1000;   /* 다른 요소 위에 표시되도록 */

  
}


.carousel-banner-images .slick-next {
    right: 5px; /* 필요에 따라 위치 조정 */
}



.slick-next:before, .slick-prev:before {
    font-size: 60px;
    z-index: 999;
}

.products{
    width: 100%;
    margin-top: 70px;
}

/*인기굿즈*/
.pop-carousel-images .slick-prev, 
.pop-carousel-images .slick-next {
 
    font-size: 30px; /* 화살표 크기 조정 */
    position: absolute;
    top: 30%; /* 원하는 위치 조정 */
    z-index: 1000;
}

.pop-carousel-images .slick-prev {
    left: -40px; /* 이전 버튼 위치 조정 */
}

.pop-carousel-images .slick-next {
    right: 5px; /* 다음 버튼 위치 조정 */
}

/* 인기굿즈 슬라이더의 화살표 버튼에 색상을 적용 */
.pop-carousel-images .slick-prev::before, 
.pop-carousel-images .slick-next::before {
    color: rgb(167, 203, 245);  /* 화살표 색상 변경 */
}
.products h2, .products2 h2 {
    font-size: 48px;
    margin-bottom: 40px;
}   

.pop-carousel-images{
    display: flex;
    align-items: center;
    gap:15px;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.product img:hover {
    animation: shake 0.5s ease-in-out; 
}

.product img{
    border-radius: 10px;
}

/*공지사항*/

.notification {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    max-width: 1800px;
    margin: 0 auto;
}
.icon {
    font-size: 24px;
    margin-right: 10px;
}

.date {
    color: gray;
}

.notification-content {
    font-size: 16px;
}

.notification-title {
    margin: 10px 0; /* 여백 줄임 */
}

.notification-title h2 {
    font-size: 16px; /* 제목 크기 조정 */
}

.notification-title p {
    font-size: 14px; /* 부제목 크기 조정 */
}

.pagination {
    display: flex;
    justify-content: right;
    align-items: right;
}

.prev, .next {
    background: none;
    color: gray;
    border: none;
    padding: 0 auto; /* 패딩 조정 */
    cursor: pointer;
}

.prev:hover, .next:hover {
    color: #585858; /* 버튼 hover 색상 */
    font-weight: bold;
}

.page-info {
    font-size: 16px;
    color: gray; /* 색상 설정 */
    margin: 0 10px; /* 좌우 여백 추가 */
}

.prev {
    left: 10px;
}

.next {
    right: 15px;
}

.pop-carousel-images{
    display: flex;
    align-items: center;
}

/* 오리지널굿즈 */

.origin-goods{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px; 
}

.origin-carousel-wrapper{
    width: 100%;
    margin-bottom: 20px;
    overflow: visible;
}

.origin-carousel-images {
    gap: 20px; /* 이미지 간의 간격 */
  }

.origin-tag {
    text-align: left;
    color: #888;
    font-weight: bold;
}

.origin-carousel-images img{
     border-radius: 10px;
     width: 500px;
     gap:20px;
}

.origin-carousel-images img:hover{
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.origin-carousel-images .slick-prev, 
.origin-carousel-images .slick-next {
 
    font-size: 30px; /* 화살표 크기 조정 */
    position: absolute;
    top: 45%; /* 원하는 위치 조정 */
    z-index: 1000;
}

.origin-carousel-images .slick-prev {
    left: -30px; /* 이전 버튼 위치 조정 */
  
}

.origin-carousel-images .slick-next {
    right: 15px; /* 다음 버튼 위치 조정 */
}

/* 신규굿즈 슬라이더의 화살표 버튼에 색상을 적용 */
.origin-carousel-images .slick-prev::before, 
.origin-carousel-images .slick-next::before {
    color: rgb(167, 203, 245);  /* 화살표 색상 변경 */
}

/* 신규굿즈 */
.new-products{
    width: 100%;
    margin: 0 auto;
    overflow: visible;
}

.new-carousel-images{
    display: flex;
    align-items: center;
    margin-top: 20px;    
   
}

.new-carousel-images img{
     border-radius: 10px; 
}


.new-carousel-images img:hover {
    animation: shake 0.5s ease-in-out; 
}
/*신규굿즈*/
.new-carousel-images .slick-prev, 
.new-carousel-images .slick-next {
 
    font-size: 30px; /* 화살표 크기 조정 */
    position: absolute;
    top: 30%; /* 원하는 위치 조정 */
    z-index: 1000;
}

.new-carousel-images .slick-prev {
    left: -40px; /* 이전 버튼 위치 조정 */
}

.new-carousel-images .slick-next {
    right: 5px; /* 다음 버튼 위치 조정 */
}

/* 신규굿즈 슬라이더의 화살표 버튼에 색상을 적용 */
.new-carousel-images .slick-prev::before, 
.new-carousel-images .slick-next::before {
    color: rgb(167, 203, 245);  /* 화살표 색상 변경 */
}

/* MD news */
.md{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    
}

.md-carousel-wrapper {
    height: auto; /* 슬라이드에 맞는 높이로 자동 조정 */
}

.md-carousel-images{
    display: flex;
    gap:30px;
    overflow: visible;
}


.md-item img {
    width: 500px; /* 이미지 크기를 원하는 값으로 설정 */
    height: 500px;
    border-radius: 10px; 
    transition: transform 0.5s ease-in-out; /* 호버 시 부드럽게 확대 */
  }

.md-carousel-images img:hover{
    transform: scale(1.05);
}

.md-tag{
    color: #888;
    font-size: 16px;
    font-weight: bold;
}

.md-carousel-images .slick-prev, 
.md-carousel-images .slick-next {
 
    font-size: 30px; /* 화살표 크기 조정 */
    position: absolute;
    top: 45%; /* 원하는 위치 조정 */
    z-index: 1000;
    
    
}

.md-carousel-images .slick-prev {
    left: -30px; /* 이전 버튼 위치 조정 */
  
}

.md-carousel-images .slick-next {
    right: 5px; /* 다음 버튼 위치 조정 */
}

/* 신규굿즈 슬라이더의 화살표 버튼에 색상을 적용 */
.md-carousel-images .slick-prev::before, 
.md-carousel-images .slick-next::before {
    color: rgb(167, 203, 245);  /* 화살표 색상 변경 */
    
}

.slick-slide {
    margin-right: 30px; /* 각 슬라이드 사이의 간격 설정 */
}

.slick-list {
    margin-right: -30px; /* 오른쪽 여백을 없애서 슬라이드가 화면 밖으로 나가지 않도록 설정 */
    overflow: hidden; /* 슬라이드가 잘리지 않도록 설정 */
}

#btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #btn-back-to-top:hover {
    background-color: #333;
  }


