<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.CommentDAO">


    <insert id="insertComment" parameterType="com.ict.finalproject.vo.CommentVO">
        INSERT into t_comment (comm_idx, useridx, content, regDT) values(#{comm_idx}, #{useridx}, #{content}, NOW())
    </insert>

    <select id="getComment" parameterType="int" resultType="com.ict.finalproject.vo.CommentVO">
        SELECT * FROM t_comment WHERE comm_idx = #{comm_idx} AND delState = 0 ORDER BY regDT DESC
    </select>





</mapper>
