<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.CommentDAO">


    <insert id="insertComment" parameterType="com.ict.finalproject.vo.CommentVO">
        INSERT into t_comment (comm_idx, useridx, content, regDT) values(#{comm_idx}, #{useridx}, #{content}, NOW())
    </insert>

    <select id="getComment" parameterType="int" resultType="com.ict.finalproject.vo.CommentVO">
        SELECT c.*, u.userid
        FROM t_comment c
        JOIN t_user u ON c.useridx = u.idx  -- t_user 테이블과 조인하여 userid 가져오기
        WHERE c.comm_idx = #{comm_idx} AND c.delState = 0
        ORDER BY c.regDT DESC
    </select>





</mapper>
