<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.HomeDAO">
    <select id="getGoodsList" resultType="com.ict.finalproject.vo.StoreVO">
        select idx, title, thumImg
        from T_product
        order by regDT desc limit 5;
    </select>
    
    <select id="aniSearchAll" resultType="com.ict.finalproject.vo.AniListVO">
        select *
        from T_animation
        where title like concat('%', #{param1}, '%')
        or outline like concat('%', #{param1}, '%')
    </select>
    <select id="goodsSearchAll" resultType="com.ict.finalproject.vo.StoreVO">
        select *
        from T_product
        where title like concat('%', #{param1}, '%')
        or ani_title like concat('%', #{param1}, '%')
    </select>
</mapper>