<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.NoticeDAO">
    <!-- 공지사항 목록을 가져오는 쿼리 -->
    <select id="getNotices" resultType="NoticeVO">
        SELECT * FROM t_notice
        WHERE (#{keyword} IS NULL OR title LIKE CONCAT('%', #{keyword}, '%'))
        AND delState = 0
        ORDER BY regDT DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 전체 공지사항 수를 가져오는 쿼리 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM t_notice
        WHERE (#{keyword} IS NULL OR title LIKE CONCAT('%', #{keyword}, '%'))
        AND delState = 0
    </select>

    <!-- FAQ 목록을 가져오는 쿼리 (삭제 상태 체크 없음) -->
    <select id="getFaqs" resultType="NoticeVO">
        SELECT f.*, ft.type
        FROM t_faq f
        JOIN t_faqtype ft ON f.faqtype = ft.code
        ORDER BY f.regDT DESC
    </select>

    <select id="getSearchFas" resultType="NoticeVO">
        SELECT f.*, ft.type
        FROM t_faq f
        JOIN t_faqtype ft ON f.faqtype = ft.code
        WHERE ft.type = #{param1}
        ORDER BY f.regDT DESC
    </select>



    <!-- 1:1 문의 등록 -->
    <insert id="saveQna" parameterType="com.ict.finalproject.vo.QnaVO">
        INSERT INTO t_qna (qnatype, title, content, useridx, imgfile1, imgfile2, regDT)
        VALUES (#{qnatype}, #{title}, #{content}, #{useridx}, #{imgfile1}, #{imgfile2}, NOW())
    </insert>


</mapper>
