<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.OrderDAO">
    <!-- T_order에 데이터 삽입 -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="idx" parameterType="com.ict.finalproject.vo.OrderVO">
        INSERT INTO T_order (useridx, total_price) VALUES (#{useridx}, #{total_price})
    </insert>

    <!-- T_orderlist에 데이터 삽입 -->
    <insert id="insertOrderList" parameterType="com.ict.finalproject.vo.OrderListVO">
        INSERT INTO T_orderlist (order_idx, pro_idx, amount) VALUES (#{order_idx}, #{pro_idx}, #{amount})
    </insert>

    <!-- T_order select -> orderpage에 보여주기 위함 -->
    <select id="selectOrderById"  resultType="com.ict.finalproject.vo.OrderVO">
        SELECT o.idx, o.total_price, u.point AS user_point
        FROM T_order o
        JOIN T_user u
        ON o.useridx = u.idx
        WHERE o.idx = #{order_idx}
    </select>

    <!-- T_orderlist select -> orderpage에 보여주기 위함 -->
    <select id="selectOrderListByOrderIdx" resultType="com.ict.finalproject.vo.OrderListVO">
        SELECT ol.idx, ol.pro_idx, ol.amount, p.title, p.ani_title, p.thumImg, p.price
        FROM T_orderlist ol
        JOIN T_product p
        ON ol.pro_idx = p.idx
        WHERE ol.order_idx = #{order_idx}
    </select>

    <!-- T_Payment insert -> 결제요청정보를 저장해놓기 위함 why? 데이터 무결성! -->
    <insert id="insertPaymentRequest" parameterType="com.ict.finalproject.DTO.PaymentReqDTO">
        INSERT INTO T_payment (orderId, amount, customerName, order_idx)
        VALUES (#{orderId}, #{amount}, #{customerName}, #{order_idx})
    </insert>
    <!-- T_order insert -->
    <update id="updateOrderRequest" parameterType="com.ict.finalproject.DTO.PaymentReqDTO">
        UPDATE T_order
        SET recipient=#{recipient}, zipcode=#{zipcode}, addr=#{addr}, addrdetail=#{addrdetail}, request_memo=#{request_memo}, use_point=#{use_point}, tel=#{tel}
        WHERE useridx= #{useridx} AND idx=#{order_idx}
    </update>

    <!-- orderId로 결제 정보 조회 -->
    <select id="getPaymentByOrderId" parameterType="String" resultType="com.ict.finalproject.vo.PaymentVO">
        SELECT * FROM T_payment WHERE orderId = #{orderId}
    </select>

    <!-- 결제 성공 정보 업데이트 -->
    <update id="updatePaymentSuccess" parameterType="com.ict.finalproject.vo.PaymentVO">
        UPDATE T_payment
        SET successYN = 1,
        paymentKey = #{paymentKey},
        paytype = #{paytype},
        ordername = #{ordername}
        WHERE orderId = #{orderId}
    </update>
    <update id="orderPayState">
        UPDATE T_order
        SET payState =1
        WHERE idx=${param1}
    </update>
    <update id="orderListState">
        UPDATE T_orderList
        SET orderState =1
        WHERE order_idx=${param1}
    </update>
    <select id="getOrderListByOrderIdx" resultType="com.ict.finalproject.vo.OrderListVO">
        SELECT pro_idx, amount
        FROM T_orderList
        WHERE order_idx = ${param1}
    </select>
    <update id="decreaseProductStock">
        UPDATE T_product
        SET stock = stock - ${param2}
        WHERE idx = ${param1}
    </update>

    <!-- success페이지에 뿌려줄 데이터 -->
    <select id="orderSuccessData" resultType="com.ict.finalproject.vo.OrderVO">
        select * from T_order where idx=${param1}
    </select>
    <select id="orderListSuccessData" resultType="com.ict.finalproject.vo.OrderListVO">
        SELECT ol.idx, ol.pro_idx, ol.amount,ol.orderState, p.title, p.ani_title, p.thumImg, p.price
        FROM T_orderlist ol
        JOIN T_product p
        ON ol.pro_idx = p.idx
        WHERE ol.order_idx = ${param1}
    </select>
    <select id="paymentSuccessData" resultType="com.ict.finalproject.vo.PaymentVO">
        select paytype, orderId, createDT
        from T_payment
        where order_idx = ${param1}
    </select>

    <!-- 결제 실패 정보 업데이트 -->
    <update id="updatePaymentFailure" parameterType="com.ict.finalproject.vo.PaymentVO">
        UPDATE T_payment
        SET successYN = 0,
        failReason = #{failReason}
        WHERE orderId = #{orderId}
    </update>

</mapper>