<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.OrderDAO">
    <!-- T_order에 데이터 삽입 -->
    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="idx" parameterType="com.ict.finalproject.vo.OrderVO">
        INSERT INTO T_order (useridx, total_price) VALUES (#{useridx}, #{total_price})
    </insert>

    <!-- T_orderlist에 데이터 삽입 -->
    <insert id="insertOrderList" parameterType="com.ict.finalproject.vo.OrderListVO">
        INSERT INTO T_orderlist (order_idx, pro_idx, amount) VALUES (#{order_idx}, #{pro_idx}, #{amount})
    </insert>

    <!-- T_order select -> orderpage에 보여주기 위함 -->
    <select id="selectOrderById"  resultType="com.ict.finalproject.vo.OrderVO">
        SELECT * FROM T_order WHERE idx = #{order_idx}
    </select>

    <!-- T_orderlist select -> orderpage에 보여주기 위함 -->
    <select id="selectOrderListByOrderIdx" resultType="com.ict.finalproject.vo.OrderListVO">
        SELECT * FROM T_orderlist WHERE order_idx = #{order_idx}
    </select>

    <!-- T_Payment insert -> 결제요청정보를 저장해놓기 위함 why? 데이터 무결성! -->
    <insert id="insertPaymentRequest" parameterType="com.ict.finalproject.DTO.PaymentReqDTO">
        INSERT INTO T_payment (orderId, amount, customerName, order_idx)
        VALUES (#{orderId}, #{amount}, #{customerName}, #{order_idx})
    </insert>

    <!-- orderId로 결제 정보 조회 -->
    <select id="getPaymentByOrderId" parameterType="String" resultType="com.ict.finalproject.vo.PaymentVO">
        SELECT * FROM T_payment WHERE orderId = #{orderId}
    </select>

    <!-- 결제 성공 정보 업데이트 -->
    <update id="updatePaymentSuccess" parameterType="com.ict.finalproject.vo.PaymentVO">
        UPDATE T_payment
        SET successYN = 1,
        paymentKey = #{paymentKey},
        paytype = #{paytype},
        ordername = #{ordername}
        WHERE orderId = #{orderId}
    </update>

    <!-- 결제 실패 정보 업데이트 -->
    <update id="updatePaymentFailure" parameterType="com.ict.finalproject.vo.PaymentVO">
        UPDATE T_payment
        SET successYN = 0,
        failReason = #{failReason}
        WHERE orderId = #{orderId}
    </update>
</mapper>