<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.ProlikeDAO">


    <!-- 좋아요 추가 -->
    <insert id="insertLike" parameterType="map">
        INSERT INTO t_prolike (pro_idx, useridx, regDT)
        VALUES (#{pro_idx}, #{useridx}, NOW())
    </insert>

    <!-- 좋아요 취소 -->
    <delete id="deleteLike">
        delete from t_prolike
        where pro_idx = #{pro_idx} AND useridx = #{useridx}
    </delete>

    
    <select id="isLiked" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM likes
        WHERE pro_idx = #{pro_idx} AND user_idx = #{useridx}
    </select>

    <!-- 특정 상품에 대해 사용자가 좋아요를 눌렀는지 확인 -->
    <select id="selectLikeStatus" parameterType="map" resultType="ProLikeVO">
        SELECT pro_idx, useridx, (CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END) AS liked
        FROM t_prolike
        WHERE pro_idx = #{pro_idx} AND useridx = #{useridx}
    </select>

    <select id="getLikeCount" resultType="int">
        SELECT COUNT(*)
        FROM t_prolike
        WHERE pro_idx = #{pro_idx}
    </select>

    <select id="isLiked" parameterType="map" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM t_prolike
        WHERE pro_idx = #{pro_idx} AND user_idx = #{useridx}
    </select>
</mapper>