<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.StoreDAO">

    <select id="getAverageRating" parameterType="int" resultType="double">
        SELECT AVG(grade)
        FROM t_review
        WHERE orderList_idx IN (
        SELECT idx
        FROM t_orderlist
        WHERE pro_idx = #{productId}
        )
    </select>



</mapper>