<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict.finalproject.DAO.StoreDAO">

    <select id="getStoreList" resultType="com.ict.finalproject.vo.StoreVO">
        SELECT 
            idx, title, price, thumImg, ani_title, relDT, brand, fee, stock, pro_detail, category 
        FROM t_product
    </select>

    <select id="getStoreListByFilter" parameterType="String" resultType="com.ict.finalproject.vo.StoreVO">
        SELECT * FROM t_product
        <choose>
            <when test="'latest'.equals(filterType)">
                ORDER BY created_date DESC
            </when>
            <when test="'popular'.equals(filterType)">
                ORDER BY popularity DESC
            </when>
            <when test="'high-price'.equals(filterType)">
                ORDER BY price DESC
            </when>
            <when test="'low-price'.equals(filterType)">
                ORDER BY price ASC
            </when>
             <otherwise>
            <!-- 기본정령--> 
            ORDER BY created_date DESC
        </otherwise>
        </choose>
    </select>

    <select id="searchStoreList" parameterType="String" resultType="com.ict.finalproject.vo.StoreVO">
        SELECT * FROM t_product
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
           OR description LIKE CONCAT('%', #{keyword}, '%')
    </select>

     <!-- 필터링된 상품 목록 -->
    <select id="getStoreListByFilterCriteria" parameterType="com.ict.finalproject.vo.ProductFilterVO" resultType="com.ict.finalproject.vo.StoreVO">
        SELECT idx, title, ani_title, category, stock, thumImg, price
        FROM t_product
        WHERE 1 = 1
        <if test="ani_title != null and ani_title.size() > 0">
            AND ani_title IN
            <foreach item="ani_title" collection="ani_title" open="(" separator="," close=")">
                #{ani_title}
            </foreach>
        </if>
        <if test="category != null and category.size() > 0">
            AND category IN
            <foreach item="category" collection="category" open="(" separator="," close=")">
                #{category}         
            </foreach>
        </if>
        <if test="stock != null and stock == 0">
            AND stock > 0  <!-- 재고가 0보다 큰 경우만 표시 -->
        </if>
    </select>

    <!-- 제품 제목을 기준으로 제품 세부 정보를 가져오는 쿼리 -->
    <select id="getStoreDetail" parameterType="int" resultType="com.ict.finalproject.vo.StoreVO">
        SELECT * FROM t_product
        WHERE idx = #{idx}
    </select>
        
  

</mapper>
